@import "styles-media.css";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color:  #1E1E1E;
    display: flex;
    color: white;
    
}

.container {
    display: flex;
    flex-direction: column;
}

/*Side Bar*/

aside {
    display: flex;
    height: 100vh;
    width: 60px;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px  #1a1a1a solid;
    background-color: #252526;
    text-align: center;
    
}

aside ul {
    list-style: none;
    /* padding-top: 65px; */
    margin-top: 65px;
    
}

aside a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color:  #d9d9d9;
}

/*nav bar*/

nav {
    display: flex;
    width: 100vw;
    background-color: #252526;
    
    /* border-bottom: 1px white solid; */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    list-style: none;
    border-right: 1px  #1a1a1a solid;
}

nav ul li a {
    text-decoration: none;
    color:   #d9d9d9;
    font-size: 20px;
}


