@import "styles-media.css";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color:  #1E1E1E;
    display: flex;
    color: white;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;   /*this fixed the navbar issue of not going through the entire screen*/
}

/*Side Bar*/

aside {
    display: flex;
    height: 100vh;
    width: 60px;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px  #1a1a1a solid;
    background-color: #252526;
    text-align: center;
    
}

aside ul {
    list-style: none;
    /* padding-top: 65px; */
    margin-top: 65px;
    
}

aside a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color:  #d9d9d9;
}

/*nav bar*/

nav {
    display: flex;
    background-color: #252526;
    /* border-bottom: 1px white solid; */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    list-style: none;
    border-right: 1px  #1a1a1a solid;
}

nav ul li a {
    text-decoration: none;
    color:   #d9d9d9;
    font-size: 20px;
}

nav ul li a:active {
    background-color: white;
}

.intro {
    padding: 150px;
    font-size: 30px;
}

.about {
    padding-top: 45px;
}

/*skills*/

.heading {
    text-align: center;
    padding-bottom: 50px;
    font-size: 45px;
}

#skills {
    padding: 20px 0px;
    color: white;
}


#skills h3 {
    color:orange;
    font-size: 35px;
}

.skillscontain {
    display: flex;
    justify-content: space-evenly;
}

#skills ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 30px;
}

.other {
    text-align: center;
}

/*Projects*/

.projects {
    height: auto;
    padding: 20px 0px;
}

.project-container h3{
    color:#cc3300;
    padding: 5px;
}

.project-container p{
    color:white;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*makes it wrap on smaller screens*/
    box-sizing: border-box;
}

.project-div {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    /* border: 1px solid black; */
    border: 1px solid white;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;  /*makes border corner circle*/
    /* background: linear-gradient(to top, rgb(255, 45, 45) 50%, white 50%); */
    background-size: 100% 200%;
}
